{% extends "layout.twig.html" %}{% block inner %} <div id="formulario"></div>
<script type="text/javascript">
    if ('{{idItem}}'!='0' && '{{modificado}}'=='1'){ $("#formulario").html('<form id="siguiente" action="{{url}}" method="post" ><input type="hidden" name="titulo" value="{{titulo}}" /><input type="hidden" name="id" value="{{id}}" /><input type="hidden" name="idItem" value="{{idItem}}" /><input type="hidden" name="existente" value="{{existente}}" /><input type="hidden" name="modificado" value="0" /></form>'); document.forms['siguiente'].submit(); }
    function guardarTemp(urlAplicacion, idItem){ $("#formulario").html('<form id="cambapli" action="'+urlAplicacion+'" method="post" ><input type="hidden" name="titulo" value="{{titulo}}" /><input type="hidden" name="id" value="{{id}}" />\n\<input type="hidden" name="origen" value="existe" /><input type="hidden" name="existente" value="{{existente}}" /></form>'); document.forms['cambapli'].submit(); }
</script>
<div class="presentacion">
    <header><h2>EDICIÓN: "{{titulo}}"</h2></header><br><br>
    <div>
        <h3 class="bienvenida" autofocus>
            Puedes realizar diferentes acciones como editar el contenido de cada ítem, eliminar uno de los ítems,
            subir de posición o bajar de posición, para alterar el orden en el que es presentados los ítems del 
            recurso educativo al usuario final. Recuerda que primero debes elegir el ítem que deseas alterar con 
            cualquiera de las opciones anteriores. O tambien puedes crear un nuevo ítem.<br><br>
        </h3>
    </div>
    <form action="listarItems.php" method="post">
        <input name="id" value="{{id}}" type="hidden" />
        <input name="titulo" value="{{titulo}}" type="hidden" />
        <input name="existente" value="{{existente}}" type="hidden" />
        <input name="modificado" value="1" type="hidden" />
        <div id="items"></div>
        <label>{{mensaje}}</label>
        <input class="btn" type="submit" name="editar" value="EDITAR" />
        <input class="btn" type="submit" name="eliminar" value="ELIMINAR" />
        <input class="btn" type="submit" name="subir" value="SUBIR" />
        <input class="btn" type="submit" name="bajar" value="BAJAR" />
    </form>
    <div id="tipopreg">
        {% if 1 in tipos or 2 in tipos or 3 in tipos or 4 in tipos %}
            <button id="abierta" class="selecPreg btn-default" onclick="guardarTemp('pregAbierta.php');">Nueva pregunta abierta</button>
            <!--button id="actividad" class="selecPreg btn-default" onclick="guardarTemp('pregCerradaMultiple.php');">Nueva pregunta cerrada de múltiple respuesta</button-->
            <button id="actividad" class="selecPreg btn-default" onclick="guardarTemp('pregCerradaUnica.php');">Nueva pregunta cerrada de única respuesta</button>
            <button id="actividad" class="selecPreg btn-default" onclick="guardarTemp('pregVerdadero.php');">Nueva pregunta de verdadero o falso</button>
        {% endif %}
        {% if 5  in tipos %}<button id="abierta" class="selecPreg btn-default" onclick="guardarTemp('libro.php');">Nueva página del libro</button>{% endif %}
        {% if 6  in tipos %}<button id="abierta" class="selecPreg btn-default" onclick="guardarTemp('escribelo.php');">Nueva apartado de escríbe-lo</button>{% endif %}
        {% if 9  in tipos %}<button id="abierta" class="selecPreg btn-default" onclick="guardarTemp('ensenaloResponseCorrect.php');">Nueva apartado de emparejar</button>{% endif %}
        {% if 10 in tipos %}<button id="abierta" class="selecPreg btn-default" onclick="guardarTemp('ensenaloOptionCorrect.php');">Nueva apartado de emparejar</button>{% endif %}
        {% if 11 in tipos %}<button id="abierta" class="selecPreg btn-default" onclick="guardarTemp('ensenaloEmparejar.php');">Nueva apartado de emparejar</button>{% endif %}
    </div>
</div>
<script type="text/javascript"> var onload = function cargarRE (){ var datos = {id:'{{id}}'}; $.post("../ajax/listarItems-ajax.php", datos, function(data) { $("#items").html(data); }); } </script>
{% endblock %}