{% extends "layout.twig.html" %}
{% block inner %}
<div class="presentacion">
    <div id="formulario"></div>
    <script type="text/javascript">
        if('{{volver}}'==='1'){ redireccionar('listarItems.php'); }
        function guardarTemp(){ if('{{noGuardo}}'===0){document.forms['pregunta'].submit();} }
        function redireccionar(urlAplicacion){
            $("#formulario").html("<form id='cambapli' action='"+urlAplicacion+"' method='post'>\n\
                                    <input type='hidden' name='titulo' value='"+'{{titulo}}'+"' />\n\
                                    <input type='hidden' name='id' value='"+'{{id}}'+"' />\n\
                                    <input type='hidden' name='existente' value='"+'{{existente}}'+"' />\n\
                                    <input type='hidden' name='modificado' value='0' />\n\
                                   </form>");
            document.forms['cambapli'].submit();
        }
    </script>
    <header autofocus><h2>PREGUNTA-LO (pregunta abierta) para: <br>"{{titulo}}"</h2></header>
    <div>
        <br>
        <h3 class="bienvenida">
            Puedes cambiar de tipo de pregunta con los botones presentados a continuación. 
            Si no, recuerda que debes llenar este formulario donde se solicita la pregunta, 
            la respuesta y una retroalimentación. Luego continuas con el botón Guardar para 
            almacenar el ítem, si utilizas el botón Finalizar no se guardara la información 
            llenada en el formulario y dará por terminada la contrucción del recurso educativo.<br><br>
        </h3>
    </div>
    {%if existente!='1' and origen==''%}
    <div id="tipopreg">
        <!--button id="actividad" class="selecPreg btn-default" onclick="redireccionar('pregCerradaMultiple.php');">Pregunta cerrada de múltiple respuesta</button-->
        <button id="actividad" class="selecPreg btn-default" onclick="redireccionar('pregCerradaUnica.php');">Pregunta cerrada de única respuesta</button>
        <button id="actividad" class="selecPreg btn-default" onclick="redireccionar('pregVerdadero.php');">Pregunta de verdadero o falso</button>
    </div>
    {% endif %}
    <div id="pregAbierta">
        <header id="tipoActividad"><h2>PREGUNTA ABIERTA</h2></header>
        <form id="pregunta" action="pregAbierta.php" method="post">
            <input type="hidden" name="titulo" value="{{titulo}}" />
            <input type="hidden" name="id" value="{{id}}" />
            <input type="hidden" name="existente" value="{{existente}}" />
            <input type="hidden" name="origen" value="{{origen}}" />
            <input type='hidden' name='idItem' value="{{idItem}}" />
            <input type='hidden' name='posicion' value="{{posicion}}" />
            {% if modificado==0 %}<input type="hidden" name="modificado" value="1">{% else %}<input type="hidden" name="modificado" value="0">{% endif %}
            <div id="partItem"><label>PREGUNTA:</label><textarea autofocus id="pregAb" class="textarea1"  alt="la pregunta es obligatoria" name="pregunta" placeholder="¡Escriba acá su pregunta!" required>{%if existente=='1'%}{{pregunta}}{% endif %}</textarea></div>
            <div id="partItem"><label>RESPUESTA:</label><textarea id="respAb" class="textarea1" alt="la respuesta es obligatoria"  name="respuesta" placeholder="¡Escriba acá su Respuesta!" required>{%if existente=='1'%}{{respuesta}}{% endif %}</textarea></div>
            <div id="partItem"><label>RETROALIMENTACIÓN:</label><textarea id="retroAb" class="textarea1" alt="la retroalimentación es obligatoria" name="retroalimentacion" placeholder="¡Escriba acá su Retroalimentación!" required>{%if existente=='1'%}{{retroalimentacion}}{% endif %}</textarea></div>
            {% if existente ==1 or origen!=''%}
            <br><br><br><button id="editarSiguiente" onclick="guardarTemp('');">Guardar</button><br><br>
            {% else %}
            <input class="btn" type="submit" id="guardarAbierta" value="GUARDAR" autofocus>
            {% endif %}
        </form>
        {% if existente ==1 or origen!=''%}
            <br><br><button id="editarSiguiente" onclick="redireccionar('listarItems.php');">Regresar</button>
        {% endif %}
        {%if existente!='1' and origen==''%}
        <form action="finalizar.php" method="post" id="formFinal">
            <input type="hidden" name="titulo" value="{{titulo}}">
            <input type="hidden" name="id" value="{{id}}">
            <input class="btn" type="submit" value="(no olvide guardar antes) FINALIZAR">
        </form>
        {% else %}
        <form action="editarRecurso.php" method="post">
            <!--input class="btn" type="submit" value="FINALIZAR"-->
        </form>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    function limpiarDato(v){
        v = v.replace(/deletrear/g, "");
        v = v.replace(/de letrear/g, "");
        v = v.replace(/ /g, "");
        return v;
    }
    function dispararForm(){
        $("#pregunta").submit();
    }
    function dispararFormFinal(){
        $("#formFinal").submit();
    }
</script>
{%if existente!='1' and origen==''%}

<script src="http://code.jquery.com/jquery-1.12.1.js"></script>
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>

<script type="text/javascript">
    var onload = function cargarRE (){
        var texto = "Esta sesión es para construir preguntas abiertas para el recurso educativo {{titulo}}. Si desea cambiar el tipo de pregunta, pronuncie cerrada o falso y verdadero. Para agregar los contenidos, solo debes mensionar las palabras pregunta, respuesta o retroalimentación seguido de sus contenidos respectivos. Recuerde que puede consultar el menú o cerrar sesión. Para continuar con otra pregunta pronuncie siguiente o finalizar para terminar el recurso.";
        sintetizadorVoz(texto);
    }
    //var valor = localStorage.getItem("controlador");
        //if(valor==="true"){
            "use strict";//inicio de la implementación de la libreria annyang para el ingreso de comandos de voz con cada una de las palabras que se implementan y que a medida de que la plataforma se mueve entre las distintas paginas, se informa las palabras que estan activas y con las que se puede logear y moverse entre ellas.
            if (annyang) {
                "use strict"
                var commands = {//cada una de las palabras de los comando de voz, realizaran acciones distinta, despues de cada sección de lectura de pantalla se informara que comandos de voz estan activados y las palabras que tinen que decir para cada funcionalidad y recorrido entre cada una de las pagina
                    'cerrar sesión':function(){window.location="cierre.php";},
                    'menú':function(){//menu e información de todos los recursos educativos y funcionalidades de la creación de recursos, presentacion, visialización, editar, eliminación y seguir.
                        gcse.pause();
                        gcse.src = "";
                        var texto = "Si deseas ver la página principal, pronuncia presentación. Puedes verificar tus datos personales al pronunciar información personal, pero tambien puedes realizar otras operaciones sobre los recursos educativos, solo debes mencionar la palabra crear, editar o eliminar según la acción que requieras utilizar"; 
                        sintetizadorVoz(texto);
                    },//en general cada palabra que esta en verde son las palabras que se tienen que decir para moverse entre cada una de las funcionalidades de la plataforma GAIA Tools
                    'presentación':function(){window.location="principal.php";},
                    'información personal':function(){window.location="informacionPersonal.php";},
                    'visualizar':function(){window.location="listarRecurso.php";},
                    'editar':function(){window.location="editarRecurso.php";},
                    'eliminar':function(){window.location="eliminarRecurso.php";},
                    'abierta':function(){guardarTemp('pregAbierta.php');},
                    'cerrar':function(){guardarTemp('pregCerradaUnica.php');},
                    'falso y verdadero':function(){guardarTemp('pregVerdadero.php');},
                    'pregunta *v': function(v){
                        gcse.pause();
                        gcse.src = "";
                        if(/deletrear/.test(v) || /de letrear/.test(v) ){
                            v = limpiarDato(v);
                        }
                        var texto = "La pregunta es "+v+". Para continuar pronuncie la palabra respuesta y hable sobre la respuesta correcta";
                        sintetizadorVoz(texto);
                        $('#pregAb').val(v);
                    },
                    'respuesta *v': function(v){//cada palabra que esta en verde son las palabras que se tienen que decir para moverse entre cada una de las funcionalidades de la plataforma GAIA Tools
                        gcse.pause();
                        gcse.src = "";
                        if(/deletrear/.test(v) || /de letrear/.test(v) ){
                            v = limpiarDato(v);
                        }
                        var texto = "La respuesta es "+v+". Para continuar pronuncie la palabra retroalimentación seguido de los comentarios de ayuda en el aprendizaje del usuario que vea este objeto.";
                        sintetizadorVoz(texto);
                        $('#respAb').val(v);
                    },
                    'retroalimentación *v': function(v){
                        gcse.pause();
                        gcse.src = "";
                        if(/deletrear/.test(v) || /de letrear/.test(v) ){
                            v = limpiarDato(v);
                        }
                        var texto = "La retroalimentación es "+v+". Para continuar pronuncie la palabra siguiente para guardar esta pregunta. O puedes terminar la contrucción del cuestionario al pronunciar finalizar pero los datos de esta seccion  se perderian.";
                        sintetizadorVoz(texto);
                        $('#retroAb').val(v);
                    },
                    'siguiente':function(){
                        dispararForm();
                    },
                    'finalizar':function(){
                        dispararFormFinal();
                    }
                };
                // OPTIONAL: activate debug mode for detailed logging in the console
                annyang.debug();
                // Add voice commands to respond to
                annyang.addCommands(commands);
                // OPTIONAL: Set a language for speech recognition (defaults to English)
                annyang.setLanguage('es');
                // Start listening. You can call this here, or attach this call to an event, button, etc.
                annyang.start();
            } else {
                $(document).ready(function() {
                    $('#unsupported').fadeIn('fast');
                });
            }
        //}
</script>
{% endif %}
{% endblock %}