{% extends "layout.twig.html" %}
{% block inner %}
{% if estilo=='1'%}
<div class="presentacion">
{%elseif estilo=='2'%}
<div class="inner">
{%endif%}
{% if idCuest==5 %}
<!-- librerias necesarias para el aspecto y funcionamiento de la aplicacion libro -->

<div class="libro">

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="Moleskine Notebook with jQuery Booklet" />
    <meta name="keywords" content="jquery, book, flip, pages, moleskine, booklet, plugin, css3 "/>
    <link rel="stylesheet" href="../templates/booklet/jquery.booklet.1.1.0.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../templates/css/style.css" />
    <script type="text/javascript" src="../templates/booklet/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../templates/booklet/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../templates/booklet/jquery.booklet.1.1.0.min.js"></script>
    <header><h2>LIBRO: {{titulo}}</h2></header>


    
    <div class="prim">
        <div class="book_wrapper">
            <a id="next_page_button"></a><a id="prev_page_button"></a>
            <div id="loading" class="loading">Loading pages...</div>
            <div id="mybook">
                <div class="b-load" id="texto">
                    <div class="pagina">
                        <br><br><br><header class="titulo"><h1>{{titulo}}</h1></header><br>
                        <br><header class="titulo"><h1>Creado por:<br><br>{{autor}}</h1></header>
                    </div>
                    {% for n in capitulos %}
                    <div class="pagina">
                        <br><br><label><h4>{{n.capitulo}}</h4></label><br><br>
                        <p class="contenido">{{n.contenido}}</p>
                        {%if n.imagen != ""%}
                        <img class="image" src="{{n.imagen}}" alt="" />
                        {%endif%}
                        <input type="hidden" id="leerpag" value="{{n.capitulo}}  {{n.contenido}}" />
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            var $mybook         = $('#mybook');
            var $bttn_next      = $('#next_page_button');
            var $bttn_prev      = $('#prev_page_button');
            var $loading        = $('#loading');
            var $mybook_images  = $mybook.find('div.pagina');
            var cnt_images      = $mybook_images.length;
            var loaded          = 0;
            //preload all the images in the book,
            //and then call the booklet plugin
            $mybook_images.each(function(){
                var $img    = $(this);
                var source  = $img.attr('src');

                    ++loaded;
                    if(loaded == cnt_images){
                        $loading.hide();
                        $bttn_next.show();
                        $bttn_prev.show();
                        $mybook.show().booklet({
                            name:               null,                            // name of the booklet to display in the document title bar
                            width:              800,                             // container width
                            height:             500,                             // container height
                            speed:              600,                             // speed of the transition between pages
                            direction:          'LTR',                           // direction of the overall content organization, default LTR, left to right, can be RTL for languages which read right to left
                            startingPage:       0,                               // index of the first page to be displayed
                            easing:             'easeInOutQuad',                 // easing method for complete transition
                            easeIn:             'easeInQuad',                    // easing method for first half of transition
                            easeOut:            'easeOutQuad',                   // easing method for second half of transition

                            closed:             true,                           // start with the book "closed", will add empty pages to beginning and end of book
                            closedFrontTitle:   null,                            // used with "closed", "menu" and "pageSelector", determines title of blank starting page
                            closedFrontChapter: null,                            // used with "closed", "menu" and "chapterSelector", determines chapter name of blank starting page
                            closedBackTitle:    null,                            // used with "closed", "menu" and "pageSelector", determines chapter name of blank ending page
                            closedBackChapter:  null,                            // used with "closed", "menu" and "chapterSelector", determines chapter name of blank ending page
                            covers:             false,                           // used with  "closed", makes first and last pages into covers, without page numbers (if enabled)

                            pagePadding:        10,                              // padding for each page wrapper
                            pageNumbers:        true,                            // display page numbers on each page

                            hovers:             false,                            // enables preview pageturn hover animation, shows a small preview of previous or next page on hover
                            overlays:           false,                            // enables navigation using a page sized overlay, when enabled links inside the content will not be clickable
                            tabs:               false,                           // adds tabs along the top of the pages
                            tabWidth:           60,                              // set the width of the tabs
                            tabHeight:          20,                              // set the height of the tabs
                            arrows:             false,                           // adds arrows overlayed over the book edges
                            cursor:             'pointer',                       // cursor css setting for side bar areas

                            hash:               false,                           // enables navigation using a hash string, ex: #/page/1 for page 1, will affect all booklets with 'hash' enabled
                            keyboard:           true,                            // enables navigation with arrow keys (left: previous, right: next)
                            next:               $bttn_next,                     // selector for element to use as click trigger for next page
                            prev:               $bttn_prev,                     // selector for element to use as click trigger for previous page

                            menu:               null,                            // selector for element to use as the menu area, required for 'pageSelector'
                            pageSelector:       false,                           // enables navigation with a dropdown menu of pages, requires 'menu'
                            chapterSelector:    false,                           // enables navigation with a dropdown menu of chapters, determined by the "rel" attribute, requires 'menu'

                            shadows:            true,                            // display shadows on page animations
                            shadowTopFwdWidth:  166,                             // shadow width for top forward anim
                            shadowTopBackWidth: 166,                             // shadow width for top back anim
                            shadowBtmWidth:     50,                              // shadow width for bottom shadow

                            before:             function(){},                    // callback invoked before each page turn animation
                            after:              function(){}                     // callback invoked after each page turn animation
                        });
                        //Cufon.refresh();
                    }
            });
        });
        /*var onload = function cargarRE (){
            var texto = "Esta es la visualización del libro".'{{titulo}}'.", aquí \n\
                    podras ver el contenido. Recuerda que puedes regresar a la \n\
                    página principal. O tambien puedes construir objetos educativos \n\
                    con iniciar sesión, pero si no puedes registrarte en el sistema \n\
                    con la palabra registar. Para iniciar la lectura del libro \n\
                    pronuncia iniciar, para cambiar de página mensiona siguiente o atrás."; 
            //agregar instrucciones.
            sintetizadorVoz(texto);
            var datos = {idArea : 'todas'};
            $.post("../ajax/index-ajax.php", datos, function(data) { $("#recursos").html(data); });
        }*/
    </script>
</div>

{% else %}

    <p align="right" class="num"><font color="#0489B1" size="5">{{pos}}</font></p>


    {%if pos == 1 and mensaje == '' and siguiente != 2%}
    <br><br><br>
<font color="#0489B1">¡ Es fácil !, mire cada imágen y su descripción, las que están debajo de las casillas al frente de cada avatar, usted debe escribir en la casilla correspondiente la letra del avatar que muestre este valor. </font><br><font color="#57934E">El avatar se acciona dándo click encima.</font>
{% endif %}  

{%if pos == 2 and mensaje == '' and siguiente != 2%}
    <br><br><br>
<font color="#0489B1">Este segundo ítem se resuelve de igual forma que el primero. </font><br><font color="#57934E">Recuerde: el avatar se acciona dándo click encima.</font>
{% endif %} 

{%if pos > 2 and mensaje == '' and siguiente != 2%}
    <br><br><br>
<font color="#0489B1">Responda correctamente este ítem, se responde igual a los anteriores.</font>
{% endif %} 



<style type="text/css">
    
    .overlay{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:1001;
     opacity:.75;
     -moz-opacity: 0.75;
     filter: alpha(opacity=75);
}
.modal {
     display: none;
     position: absolute;
     top: 25%;
     left: 25%;
     width: 50%;
     height: 50%;
     padding: 16px;
     background: #fff;
     color: #333;
     z-index:1002;
     overflow: auto;
}
.num{
    margin-top: -30px;
    margin-bottom: -50px;
    }
</style>    

{% if mensaje == 'CORRECTO' and siguiente == 1 %}
        <br>
        <img src="../images/fiesta.png" width="250px"><br>
        <header><h2><font color="#0489B1" size="5">¡EXCELENTE!</font></h2><br><font color="#57934E">Ha respondido correctamente, presione continuar para ir por más</font></header>

        <form action="verRecursoEnsenaEmparejar.php?validar=true&id={{id}}&pos={{pos+1}}&head={{head}}&g={{conteoCorrectos}}&b={{conteoErroneo}}" method="post">
            <input id="is" type="submit" class="voz" value="CONTINUAR">
            
        </form>

        {% elseif mensaje == 'INCORRECTO' and siguiente == 1%}
        <br>
        <img src="../images/preocupado.png" width="100px"><br>
        <header><h2><font color="#A34B4E" size="5">¡Algo no estuvo bien!</font></h2><br><font color="#A34B4E">No ha respondido correctamente, recuerde {{retro}}, tal vez en el siguiente le vaya mejor.</font></header><br>

        <form action="verRecursoEnsenaEmparejar.php?validar=true&id={{id}}&pos={{pos+1}}&head={{head}}&g={{conteoCorrectos}}&b={{conteoErroneo}}" method="post">
            <input id="is" type="submit" class="voz" value="CONTINUAR">
            
        </form>
                
        

        {% else %}

    <form id="formu" action="verRecursoEnsenaEmparejar.php?validar=true&id={{id}}&pos={{pos+1}}&head={{head}}" method="post">
        <input type='hidden' name='idCuestionario' value="{{idCuest}}">
        <input type='hidden' name='validar' value="{{validar}}">
        <input type='hidden' name='id' value="{{id}}">
        <input type='hidden' name='pos' value="{{pos}}">
        <input type='hidden' name='correctos' value="{{conteoCorrectos}}">
        <input type='hidden' name='erroneos' value="{{conteoErroneo}}">
        <input type='hidden' name='titulo' value="{{titulo}}">
        <input type='hidden' name='estilo' value="{{estilo}}">
        <input type='hidden' name='autor' value="{{autor}}">
       
        

        
        {% if siguiente == 1 %}

        <h1><b>{% if idCuest in [1,2,3,4] %}PREGUNTA:{%elseif idCuest==6 %}TÍTULO:{%endif%}</b> <br>
        </h1>
        <!-- se imprimen los avatars -->
        <table width="100%">
    <tr>
        <td>
            <h1><strong>&nbsp;&nbsp;a)</strong></h1>

        </td>
        <td>

            <div id="animation0" onclick="PrestartAnimation('{{a}}', 0, 0)" ></div>

            <div id="slider" style="width:200px;"></div><br>
        </td>
        <td>
            <input type="text" id="option1" name="option1" value="" min="0" title="" required="required" autocomplete="off"><br>
            <font size="5%"><strong><img src="../images/all/{{file_nameA}}.png" width="100px"><br><font color="#0489B1">{{Correct_a}}</font></strong></font>



        </td>
    </tr>
    <tr>
        <td>
            <h1><strong>&nbsp;&nbsp;b)</strong></h1>

        </td>
        <td>

            <div id="animation1" onclick="PrestartAnimation('{{b}}', 0, 1)" ></div>
            <div id="slider" style="width:200px;"></div><br>

        </td>
        <td>
            <input type="text" id="option2" name="option2" value="" min="0" title="" required="required" autocomplete="off"><br>
            <font size="5%"><strong><img src="../images/all/{{file_nameB}}.png" width="100px"><br><font color="#0489B1">{{Correct_b}}</font></strong></font>


        </td>
    </tr>
    <tr>
        <td>
            <h1><strong>&nbsp;&nbsp;c)</strong></h1>

        </td>
        <td>

            <div id="animation2" onclick="PrestartAnimation('{{c}}', 0, 2)" ></div>
            <div id="slider" style="width:200px;"></div><br>
            
        </td>
        <td>
            <input type="text" id="option3" name="option3" value="" min="0" title="" required="required" autocomplete="off"><br>
            <font size="5%"><strong><img src="../images/all/{{file_nameC}}.png" width="100px"><br><font color="#0489B1">{{Correct_c}}</font></strong></font>

        </td>
    </tr>
</table>
        <input type='hidden' name='Correct_a' value="{{Correct_a}}">
        <input type='hidden' name='Correct_b' value="{{Correct_b}}">
        <input type='hidden' name='Correct_c' value="{{Correct_c}}">
        <input type='hidden' name='a' value="{{a}}">
        <input type='hidden' name='b' value="{{b}}">
        <input type='hidden' name='c' value="{{c}}">
        



            {% if idCuest == 4 %}   
                <textarea id='respuesta' class='textarea1' rows='automatically' cols='automatically' placeholder='RESPUESTA'></textarea><br><br>
                <input type="hidden" name="respuesta" id="respAbierta">
                <input type="hidden" id="respCorrecta" name="respCorr" value={{respAbierta}}>
                <p id='resultNormalizacion'></p>
                <!--<script>alert('puntuacion'+$('#resultNormalizacion').html());</script><br>-->
            {% elseif idCuest in  [1,3] %}<!--preguntas cerradas de eleccion multiple (unica respuesta) y falso y verdadero-->
                   <b>SELECCIONE SU RESPUESTA:<br></b><br>
                    {% for opcion in datosOpcion %}
                    <input type="radio" name="respuesta" value={{opcion.respuesta}}>{{opcion.opcion}}<br>
                    {% endfor %}
            {% elseif idCuest==6%}
                <label>{{respAbierta}}</label><br><br><br>
            {% endif %}
        <input id="is" onclick="dispararFrom();" type="button" class="voz" value="SIGUIENTE">
    </form>
    {% elseif siguiente == 0%}
    <label>{{mensaje}}</label><br>
        <form action="verRecursoEnsenaEmparejar.php?validar=true&id={{id}}&pos={{pos+1}}&head={{head}}" method="post">
            <input type='hidden' name='idCuestionario' value="{{idCuest}}">
            <input type='hidden' name='validar' value="{{validar}}">
            <input type='hidden' name='id' value="{{id}}">
            <input type='hidden' name='pos' value="{{pos}}">
            <input type='hidden' name='correctos' value="{{conteoCorrectos}}">
            <input type='hidden' name='erroneos' value="{{conteoErroneo}}">
            <input type='hidden' name='titulo' value="{{titulo}}">
            <input type='hidden' name='estilo' value="{{estilo}}">
            <input id="is" type="submit" class="voz" value="CONTINUAR">
            
        </form>
    {% elseif siguiente == 2 %}
        
        <br>
        <img src="../images/fiesta.png" width="250px"><br>
        <header><h2><font color="#57934E" size="5">¡con esta finaliza la actividad!</font></h2><br><font color="#57934E"></header><br>
        ha tenido un total de {{conteoCorrectos}} ítems acertados
                y un total de <font color="#A34B4E"> {{conteoErroneo}} ítems erróneos</font></strong><br><br></header>
            <form action="listarRecurso.php" method="post">
            <input type='hidden' name='idCuestionario' value="{{idCuest}}">
            <input type='hidden' name='validar' value="{{validar}}">
            <input type='hidden' name='id' value="{{id}}">
            <input type='hidden' name='pos' value="{{pos}}">
            <input type='hidden' name='correctos' value="{{conteoCorrectos}}">
            <input type='hidden' name='erroneos' value="{{conteoErroneo}}">
            <input type='hidden' name='titulo' value="{{titulo}}">
            <input type='hidden' name='estilo' value="{{estilo}}">
            
        </form>

        
        <a  href={{retorno}}><img src="../images/17.png" width="70" heigth="70" align="center"></a>
    {% endif %}
{% endif %}
{%endif%}
<script>
    function dispararFrom(){
        var cuestionario = '{{idCuest}}';
        if(cuestionario==='4'){calificar();}
        document.forms['formu'].submit();
    }
    function calificar(){
        var string = $("#respuesta").val();
        var palClaves = $("#respCorrecta").val();
        palClaves = palClaves.replace(/%/gi," ");
        $("#respAbierta").val(normalizar(string, palClaves));
    }
    function normalizar(string, palClaves){
        //var segimiento="";
        var j=0, pal, tamEst, tamPro, tamMin, dOverlap, contRep=0;
        var respuEstud, respuProfe;
        var analEstud = new Array();
        var analProfe = new Array();
        //convertir la cadena en minuscula
        string = string.toLowerCase();
        palClaves = palClaves.toLowerCase();
        //quita tildes y caracteres especiales ademas de signos de puntuacion, agrupacion, admiracion y otros
        string = normalize(string);
        palClaves = normalize(palClaves);
        //palabras es un arreglo separador de palabras
        respuEstud = string.split(" ");
        respuProfe = palClaves.split(" ");
        //Retirar espacios en blanco, y palabras de union (a, de, en, un...) StopWord
        for (var i in respuEstud) {pal=respuEstud[i];if ( !invalidas(pal) ) {analEstud[j]=respuEstud[i];j++;}}
        j=0;
        for (var i in respuProfe) {pal=respuProfe[i];if ( !invalidas(pal) ) {analProfe[j]=respuProfe[i];j++;}}
        //ordenar el arreglo
        analEstud.sort();
        analProfe.sort();
        for (var i in analEstud ) {for (var k in analProfe ) {if (analEstud[i]==analProfe[k]) {contRep = contRep + 1;}}}
        //tamaños de las cadenas
        tamEst = analEstud.length;
        tamPro = analProfe.length;
        if (tamEst>tamPro) {tamMin = tamEst;}else{tamMin = tamPro;}
        dOverlap = contRep/tamMin;
        if (dOverlap>0.5) {return 't';}else{return 'f';}
    }
    function normalize (str) {
        var from = "ÃÀÁÄÂÈÉËÊÌÍÏÎÒÓÖÔÙÚÜÛãàáäâèéëêìíïîòóöôùúüûÇç´'`,;.:-_^¨{}[]*+~¡?¿!#$%&/()=°!|ºª";
        var to   = "AAAAAEEEEIIIIOOOOUUUUaaaaaeeeeiiiioooouuuucc";
        var mapping = {};
        for(var i = 0, j = from.length; i < j; i++ ){mapping[ from.charAt( i ) ] = to.charAt( i );}
        var ret = [];
        for( var i = 0, j = str.length; i < j; i++ ) {var c = str.charAt( i );if( mapping.hasOwnProperty( str.charAt( i ) ) ){ret.push( mapping[ c ] );}else{ret.push( c );}}      
        return ret.join( '' );
    }
    function invalidas(str){
        var i, es;
        var prepos = ['a','ante','bajo','con','de','desde','durante','en','entre','excepto','hacia','hasta','mediante','para','por','salvo','segun','sin','sobre','tras', 'ellos','pero', 'un', 'una', 'al', 'le', 'la', 'lo', 'el', 'los', ''];
        for (i in prepos ) {if (prepos[i] == str) {es = true;break;}else{es = false;}}
        return es;
    }



    /*
    var onload = function cargarRE (){
        var texto = "Estas visualizando el funcionamiento del recurso educativo\n\
                    llamado ".'{{titulo}}'.". Recuerda que puede consultar el \n\
                    menú o cerrar sesión. Para consultar las preguntas de este \n\
                    recurso pronuncia la palabra pregunta, para responder o \n\
                    evaluar las posibles respuestas pronuncia responder, para \n\
                    evaluar la siguiente pregunta solo debes pronunciar siguiente."; 
        //agregar instrucciones.
        sintetizadorVoz(texto);
    }
    "use strict";
    if (annyang) {
        "use strict"
        var commands = {
            'cerrar sesión':function(){window.location="cierre.php";},
            'menú':function(){
                gcse.pause();
                gcse.src = "";
                var texto = "Si deseas ver la página principal, pronuncia presentación.\n\\n\
                            Puedes verificar tus datos personales al pronunciar \n\
                            información personal, pero tambien puedes realizar \n\
                            otras operaciones sobre los recursos educativos, solo debes\n\
                            mencionar la palabra visualizar, crear, editar o eliminar\n\
                            según la acción que requieras utilizar."; 
                sintetizadorVoz(texto);
            },
            'presentación':function(){window.location="principal.php";},
            'visualizar':function(){window.location="listarRecurso.php";},
            'información personal':function(){window.location="informacionPersonal.php";},
            'crear':function(){window.location="crearRecurso.php";},
            'editar':function(){window.location="editarRecurso.php";},
            'eliminar':function(){window.location="eliminarRecurso.php";},
            'seguir' :function(){
                gcse.pause();
                gcse.src = "";
                var titulos = $('#paraSintetizador').val();
                titulos = titulos.replace(',-%',',');
                var texto = "Usted debe pronunciar la palabra seleccionar \n\
                            seguido del titulo completo del \n\
                            recurso educativo que desea ver, para ello le \n\
                            mencionaremos todos los titulos de los recursos \n\
                            educativos existentes, "+titulos;
                sintetizadorVoz(texto);
            },
            'pregunta':function(){
                sintetizadorVoz('{{datosPreg.pregunta}}');
            },
            'responder *v':function(v){
                if ('{{idCuest}}'==4){
                    $('#respuesta').val(v);
                }
            },
            'siguiente':function(){
                dispararFrom();
            }
        };
        // OPTIONAL: activate debug mode for detailed logging in the console
        annyang.debug();
        // Add voice commands to respond to
        annyang.addCommands(commands);
        // OPTIONAL: Set a language for speech recognition (defaults to English)
        annyang.setLanguage('es');
        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
    } else {
        $(document).ready(function() {
            $('#unsupported').fadeIn('fast');
        });
    }*/
    /*
    "use strict";
    if (annyang) {
        "use strict"
        var commands = {
            'página principal':function(){window.location="index.php";},
            'iniciar sesión':function(){window.location="validar.php";},
            'registrar':function(){window.location="registro.php";},
            'iniciar' :function(){
                gcse.pause();
                gcse.src = "";
                var titulos = $('#leerpag').val();
                var texto = titulos;
                sintetizadorVoz(texto);
            }
        };
        // OPTIONAL: activate debug mode for detailed logging in the console
        annyang.debug();
        // Add voice commands to respond to
        annyang.addCommands(commands);
        // OPTIONAL: Set a language for speech recognition (defaults to English)
        annyang.setLanguage('es');
        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
    } else {
        $(document).ready(function() {
            $('#unsupported').fadeIn('fast');
        });
    }*/
</script>

<script> 
function abrir() { 
open('pagina.html','','top=300,left=300,width=300,height=300') ; 
} 
</script> 

</div>
{% endblock %}
